                <!-- Main sidebar -->
                <div class="sidebar sidebar-main sidebar-default">
                    <div class="sidebar-fixed">
                        <div class="sidebar-content">

                            <!-- Title -->
                            <div class="category-title h6">
                                <span>القائمة الرئيسية</span>
                            </div>
                            <!-- /title -->


                            <!-- Search task -->
                            <div class="sidebar-category">
                                <div class="category-title">
                                    <span>بحث</span>
                                    <ul class="icons-list">
                                        <li><a href="#" data-action="collapse"></a></li>
                                    </ul>
                                </div>

                                <div class="category-content">
                                    <form action="#">
                                        <div class="has-feedback has-feedback-left">
                                            <input type="search" class="form-control" placeholder="اضغط هنا للبحث">
                                            <div class="form-control-feedback">
                                                <i class="icon-search4 text-size-base text-muted"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /search task -->


                            <!-- Action buttons -->
                            <div class="sidebar-category">
                                <div class="category-title">
                                    <span>ارقام هامة</span>
                                    <ul class="icons-list">
                                        <li><a href="#" data-action="collapse"></a></li>
                                    </ul>
                                </div>

                                <div class="category-content">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-git-branch"></i> <span>عدد</span></button>
                                            <button class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button"><i class="icon-mail-read"></i> <span>عدد</span></button>
                                        </div>

                                        <div class="col-xs-6">
                                            <button class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>احصائيات</span></button>
                                            <button class="btn bg-blue btn-block btn-float btn-float-lg" type="button"><i class="icon-people"></i> <span>مستخدمين</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /action buttons -->


                            <!-- Task navigation -->
                            <div class="sidebar-category sidebar-category-visible">
                                <div class="category-title">
                                    <span>الصفحات</span>
                                    <ul class="icons-list">
                                        <li><a href="#" data-action="collapse"></a></li>
                                    </ul>
                                </div>

                                <div class="category-content no-padding">
                                    <ul class="navigation navigation-main navigation-accordion">
                                        <li class="navigation-header"><span>الصفحات ١</span> <i class="icon-menu" data-placement="right" title="الصفحات"></i></li>
                                        <li><a href="#"><i class="icon-googleplus5"></i> <span>تسك</span></a></li>
                                        <li><a href="#"><i class="icon-portfolio"></i> <span>صفحة خبر</span></a></li>
                                        <li><a href="#"><i class="icon-compose"></i> <span>صفحة خبر</span></a></li>
                                        <li><a href="#"><i class="icon-user-plus"></i> <span>صفحة خبر <span class="label label-success">94 اونلاين</span></span></a></li>
                                        <li><a href="#"><i class="icon-collaboration"></i> <span>صفحة خبر</span></a></li>
                                        <li class="navigation-header"><span>الصفحات ٢</span> <i class="icon-menu" title="Tasks"></i></li>
                                        <li><a href="#"><i class="icon-files-empty"></i> <span>صفحة خبر</span></a></li>
                                        <li><a href="#"><i class="icon-file-plus"></i> <span>صفحة خبر  <span class="badge badge-default">28</span></span></a></li>
                                        <li><a href="#"><i class="icon-file-check"></i><span>صفحة خبر</span></a></li>
                                        <li class="navigation-divider"></li>
                                        <li><a href="#"><i class="icon-reading"></i> <span> مهامي <span class="badge badge-info">86</span></span></a></li>
                                        <li><a href="#"><i class="icon-make-group"></i> <span> مهام الفريق <span class="badge badge-info">47</span></span></a></li>
                                        <li><a href="#"><i class="icon-cog3"></i> <span>الضبط</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /task navigation -->



                            <!-- Revisions -->
                            <div class="sidebar-category">
                                <div class="category-title">
                                    <span>اخر تعديلات</span>
                                    <ul class="icons-list">
                                        <li><a href="#" data-action="collapse"></a></li>
                                    </ul>
                                </div>

                                <div class="category-content">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                            </div>

                                            <div class="media-body">
                                                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة
                                                <div class="media-annotation"> منذ ٤ دقائق</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                            </div>

                                            <div class="media-body">
                                                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة
                                                <div class="media-annotation"> منذ ٤ دقائق</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                            </div>

                                            <div class="media-body">
                                                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة
                                                <div class="media-annotation"> منذ ٤ دقائق</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                            </div>

                                            <div class="media-body">
                                                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة
                                                <div class="media-annotation"> منذ ٤ دقائق</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                            </div>

                                            <div class="media-body">
                                                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة
                                                <div class="media-annotation"> منذ ٤ دقائق</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /revisions -->


                        </div>
                    </div>
                </div>
                <!-- /main sidebar -->
