<tr>
    <td>

        <!-- start of right column -->
        <table  width="149" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
            <tbody>
                <tr>
                    <td>
                        <table width="149" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                            <tbody>
                                <!-- title -->
                                <tr>
                                    <td style="padding:10px 20px;font-family: Helvetica, arial, sans-serif; font-size: 16px; color: {{ emailColor }} ; text-align:right; line-height: 24px;">
                                        {{ row['header'] }}
                                    </td>
                                </tr>
                                <!-- end of title -->

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of right column -->

        <!-- Start of left column -->
        <table width="449" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
            <tbody>
                <!-- content -->
                <tr>
                    <td style="padding: 10px 20px;font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align:right; line-height: 24px;">
                        {{ row['title'] }}
                    </td>
                </tr>
                <!-- end of content -->

            </tbody>
        </table>
        <!-- end of left column -->


    </td>
</tr>

