a{
    color:#53D2BA;
}
a:focus,a:hover{
    color:#19C1D1;
}
body{
  background:#F7FFFE;
}
.bg-primary {
  background-color: #53D2BA;
  border-color: #53D2BA;
  color: #fff;
}
.activeLink{
    color: #53D2BA;
}

.nav-tabs.nav-tabs-highlight > li.active > a, .nav-tabs.nav-tabs-highlight > li.active > a:hover, .nav-tabs.nav-tabs-highlight > li.active > a:focus {
    border-top-color: #53D2BA;
}
.text-primary {
    color: #53D2BA;
}
.text-primary, .text-primary:hover, .text-primary:focus {
    color: #53D2BA !important;
}
.btn-link:hover, .btn-link:focus {
    color: #53D2BA;
}

.bg-slate-800 {
    min-height:100%;
background: #1abf9d; /* Old browsers */
background: -moz-linear-gradient(top, #1abf9d 0%, #1baaba 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1abf9d 0%,#1baaba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1abf9d 0%,#1baaba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abf9d', endColorstr='#1baaba',GradientType=0 ); /* IE6-9  */   
        color: #fff;
}

.btn-primary{
    background:#53D2BA;
    border-color:#53D2BA;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background:#4DEACB;
    border-color:#4DEACB;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
        background:#4DEACB;
    border-color:#4DEACB;
}
.badge-primary{
       background:#53D2BA;
       border-color: #53D2BA;;
}
.table > thead > tr > th {
    border-bottom: 2px solid #53D2BA;
}
.pace .pace-progress{
    background:#53D2BA;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current:focus{
    background-color: #53D2BA;
}

.panel-flat > .panel-heading{
 border-top: 2px solid #53D2BA;   
}