a{
    color:#EE6F2C;
}
a:focus,a:hover{
    color:#FF8142;
}
body{
  background:url("../images/orange/bg.png") center bottom repeat-x #FFF8F4;
}
.bg-primary {
  background-color: #EE6F2C;
  border-color: #EE6F2C;
  color: #fff;
}
.bg-number {
  background: #EE6F2C;
}
.activeLink {
  color: #EE6F2C;
}
.btn-link:hover, .btn-link:focus {
    color:  #EE6F2C;
}
.nav-tabs.nav-tabs-highlight > li.active > a, .nav-tabs.nav-tabs-highlight > li.active > a:hover, .nav-tabs.nav-tabs-highlight > li.active > a:focus {
    border-top-color: #EE6F2C;
}
.text-primary {
    color: #EE6F2C;
}
.text-primary, .text-primary:hover, .text-primary:focus {
    color: #EE6F2C !important;
}

.bg-slate-800 {
min-height:100%;
background:url("../images/orange/bg.png") center bottom repeat-x #EE6F2C; /* Old browsers */
color: #fff;
}

.btn-primary{
    background:#EE6F2C;
    border-color:#EE6F2C;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background:#FF8142;
    border-color:#FF8142;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
        background:#FF8142;
    border-color:#FF8142;
}
.badge-primary{
       background:#EE6F2C;
       border-color: #EE6F2C;;
}
.table > thead > tr > th {
    border-bottom: 2px solid #EE6F2C;
}
.pace .pace-progress{
    background:#EE6F2C;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current:focus{
    background-color: #EE6F2C;
}