a{
    color:#EE6F2C;
}
a:focus,a:hover{
    color:#FF8142;
}
.bg-primary {
  background-color: #EE6F2C;
  border-color: #EE6F2C;
  color: #fff;
}

.bg-slate-800 {
min-height:100%;
background:url("../images/orange/bg.png") center bottom repeat-x #EE6F2C; /* Old browsers */
color: #fff;
}

.btn-primary{
    background:#EE6F2C;
    border-color:#EE6F2C;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background:#FF8142;
    border-color:#FF8142;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
        background:#FF8142;
    border-color:#FF8142;
}
.badge-primary{
       background:#EE6F2C;
       border-color: #EE6F2C;;
}